#------------ PostgreSQL variables --------------
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public"

#------------ Crypto variables --------------
SALT_ROUNDS=


#------------ JWT variables --------------
ACCESS_TOKEN_SECRET=
TOKEN_EXPIRATION_TIME=

#------------ Mail service variables --------------
MAIL_FROM=
MAIL_PASS=

#------------ Origin variables --------------
FRONTEND_URL=